
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


:root {
    --fern-50: #f2fbf4;
--fern-100: #e2f6e6;
--fern-200: #c6eccd;
--fern-300: #99dca6;
--fern-400: #52bc68;
--fern-500: #3fa855;
--fern-600: #2f8a43;
--fern-700: #286d37;
--fern-800: #24572f;
--fern-900: #1f4829;
--fern-950: #0c2713;
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto'
}



