.card-project {
    min-height: 450px;
    height: 500px;
}

.card-container {
    width: 30%;
    min-height: 450px;
}


@media only screen and (max-width: 992px){
    .card-container {
        width: 45%;
    }
}
@media only screen and (max-width: 768px){
    .card-container {
        width: 95%;
    }
}