.servicesContainer {
    background-color: #000;
    color: #fff;
    position: relative;
    z-index: 1;
}

.titleServices {
    color: #52bc68;
}

.iconServices {
    font-size: 45px;
    padding-bottom: 5px;
}


.cardServices {
    width: 400px;
    padding-left: 20px;
    padding-right: 20px;
}

.iconServices:hover {
    cursor: pointer;
    scale: 1.2;
    animation-timing-function: ease-in-out;
    animation-duration: 1500ms;
}
